body {
    font-family: 'Ubuntu', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffca00;
    background-image: url(./assets/273289.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px
}

.titulo {
    color: white;
}

.subtitulo {
    color: hotpink; 
}

.tarjetas {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
}

.tarjeta-mokepon {
    width: 100px;
    height: 100px;
    background: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 12px
}

.tarjeta-mokepon p {
    margin: 4px;
}

.tarjeta-mokepon img {
    width: 80px;
}

#boton-mascota {
    margin: 20px;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid wheat;
    font-family: 'Ubuntu', 'sans-serif';
}

input {
    display: none;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.boton-de-ataque {
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    font-family: 'Ubuntu', 'sans-serif';
}